<div class="modal fade show d-block" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Zadania
        </h5>
        <button type="button" (click)="closeModal.emit()" class="btn btn-outline-primary" aria-label="Close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
      <form class="modal-body" [formGroup]="form">
        <ul class="list-group" formArrayName="tasksControls">
          <li class="list-group-item text-white"
            *ngFor="let control of form.controls['tasksControls'].controls; let i=index">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="task-{{i}}" [formControlName]="i">
              <label class="form-check-label" for="flexCheckDefault" for="task-{{i}}">
                {{tasks[i].title}}
              </label>
            </div>
          </li>
        </ul>
      </form>
      <div class="modal-footer">
        <button type="button" (click)="closeModal.emit()" class="btn btn-outline-primary">
          Anuluj
        </button>
        <button type="button" class="btn btn-primary" (click)="saveChanges()">Zapisz</button>
      </div>
    </div>
  </div>
</div>