<div class="modal fade show d-block" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Zadania
        </h5>
        <button type="button" (click)="closeModal.emit()" class="btn btn-outline-primary" aria-label="Close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column align-items-center position-relative w-100">
          <ul class="list-group w-100" *ngIf="tasksExistanceInputs?.length else lackOfTasks">
            <li *ngFor="let task of tasksExistanceInputs; let i=index" class="list-group-item text-secondary">
              <div class="d-flex flex-row align-items-center">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" [(ngModel)]="task.isAssigned"
                    id="taskExistance-{{task.id}}" />
                  <label class="form-check-label" for="taskExistance-{{task.id}}">
                    {{ task.title }}
                  </label>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="closeModal.emit()" class="btn btn-outline-primary">
          Anuluj
        </button>
        <button type="button" class="btn btn-primary" (click)="saveChanges()">Zapisz</button>
      </div>
    </div>
  </div>
</div>

<ng-template #lackOfTasks>
  <p class="mb-0 text-center">Brak istniejących zadań. <a class="text-secondary" routerLink="/tasks/">Utwórz nowe</a>
    żeby móc
    przypisać je do
    celu.</p>
</ng-template>