// General
$primary: #19647e;
$primary-60: #19657e66;
$secondary: #28afb0;
$danger: #f64055;

$bg-color: #1f1f28;
$overlay-bg-color: #1f1f28aa;

$placeholder-color: #19647e33;
$success: #2ba66d;

$text-color: white;

// Global css variables
:root {
  --primary: #{$primary};
  --primary-60: #{$primary-60};
  --secondary: #{$secondary};
  --danger: #{$danger};
  --bg-color: #{$bg-color};
  --text-color: #{$text-color};
}

// Components

// Accordion
$accordion-bg: var(--bg-color, $bg-color);
$accordion-border-color: var(--primary, $primary);
$accordion-color: var(--text-color, $text-color);
$accordion-icon-color: var(--primary, $primary);
$accordion-button-active-bg: var(--bg-color, $bg-color);
$accordion-button-active-color: var(--secondary, $secondary);

// Pagination
$pagination-bg: transparent;
$pagination-border-color: var(--primary, $primary);
$pagination-color: var(--primary, $primary);

$pagination-hover-color: var(--text-color, $text-color);
$pagination-hover-bg: var(--secondary, $secondary);
$pagination-hover-border-color: var(--secondary, $secondary);

$pagination-active-color: var(--text-color, $text-color);
$pagination-active-bg: var(--primary, $primary);
$pagination-active-border-color: var(--primary, $primary);

$pagination-disabled-color: #ffffff66;
$pagination-disabled-bg: var(--primary-60, $primary-60);
$pagination-disabled-border-color: var(--primary-60, $primary-60);
