@import "./colors";

$input-bg: $bg-color;
$input-color: white;
$input-border-color: $primary;
$input-focus-border-color: $secondary;

$input-group-addon-color: white;
$input-group-addon-bg: $primary;
$input-group-addon-border-color: $primary;

.form-control {
  &[type="date"] {
    position: relative;

    &::-webkit-calendar-picker-indicator {
      opacity: 0;
      z-index: 1;
    }

    &:after {
      position: absolute;
      font-family: "FontAwesome";
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      content: "\f133";
      color: $primary;
    }
  }
}

.form-check {
  .form-check-input {
    border: solid 1px $primary;
  }
}

.form-label {
  &.required {
    &:after {
      display: inline-block;
      content: "*";
      font-size: 1rem;
      color: $danger;
      position: relative;
      margin-left: 0.25rem;
    }
  }
}
