@import "./colors";

$input-bg: var(--bg-color, $bg-color);
$input-color: var(--text-color, $text-color);
$input-border-color: var(--primary, $primary);
$input-focus-border-color: var(--secondary, $secondary);

$input-group-addon-color: var(--text-color, $text-color);
$input-group-addon-bg: var(--primary, $primary);
$input-group-addon-border-color: var(--primary, $primary);

.form-control {
  &[type="date"] {
    position: relative;

    &::-webkit-calendar-picker-indicator {
      opacity: 0;
      z-index: 1;
    }

    &:after {
      position: absolute;
      font-family: "FontAwesome";
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      content: "\f133";
      color: var(--primary, $primary);
    }
  }
  --bs-tertiary-bg: var(--primary, $primary);
}

.form-check {
  .form-check-input {
    border: solid 1px var(--primary, $primary);
    &:checked {
      background-color: var(--primary, $primary);
      border-color: var(--primary, $primary);
    }
  }
}

.form-label {
  &.required {
    &:after {
      display: inline-block;
      content: "*";
      font-size: 1rem;
      color: $danger;
      position: relative;
      margin-left: 0.25rem;
    }
  }
}
