@import "./colors";

$modal-backdrop-bg: $overlay-bg-color;
$modal-content-bg: var(--bg-color, $bg-color);
$modal-content-color: var(--text-color, $text-color);
$modal-content-border-color: var(--primary, $primary);
$modal-header-border-color: var(--primary, $primary);
$modal-footer-border-color: var(--primary, $primary);

.modal-open {
  overflow-y: hidden !important;
  --bs-secondary-color: #{var(--primary, $primary)};
}
