<div class="container d-flex flex-column">
  <div class="row d-flex flex-row align-items-center targetRow">
    <h4 class="col-12 col-md-2 text-primary fs-6">Motywacja</h4>
    <p class="py-2 col">{{target.motivation}}</p>
  </div>
  <div class="row d-flex flex-row align-items-center targetRow">
    <h4 class="col-12 col-md-2 text-primary fs-6">Opis</h4>
    <p class="py-2 col">{{target.description}}</p>
  </div>
  <div class="row d-flex flex-row align-items-center targetRow">
    <h4 class="col-12 col-md-2 text-primary fs-6">Termin realizacji</h4>
    <p class="py-2 col">{{target.deadline | date: 'dd/M/yyyy'}}</p>
  </div>
  <div class="row d-flex flex-row align-items-center targetRow">
    <h4 class="col-12 col-md-2 text-primary fs-6">Zadania</h4>
    <div class="py-2 col">
      <ng-container *ngIf="target.tasks?.length else lackOfTasks">
        <div class="list-group-flush my-2" *ngFor="let task of target.tasks">
          <a href="#" class="list-group-item text-secondary">
            {{task.title}}
          </a>
        </div>
      </ng-container>
      <div class="btn-group">
        <button type="button" class="btn btn-outline-primary">Przypisz istniejące zadanie do celu</button>
        <button type="button" class="btn btn-primary">Utwórz nowe zadanie</button>
      </div>
    </div>
  </div>
  <div class="row d-flex flex-row align-items-center targetRow" *ngIf="target.category">
    <h4 class="col-12 col-md-2 text-primary fs-6">Kategoria</h4>
    <p class="py-2 col">{{target.category}}</p>
  </div>
  <div class="row d-flex flex-row align-items-center targetRow" *ngIf="target.reward">
    <h4 class="col-12 col-md-2 text-primary fs-6">Nagroda</h4>
    <p class="py-2 col">{{target.reward}}</p>
  </div>
  <div class="row d-flex flex-row align-items-center targetRow" *ngIf="target.punishment">
    <h4 class="col-12 col-md-2 text-primary fs-6">Kara</h4>
    <p class="py-2 col">{{target.punishment}}</p>
  </div>
  <div class="row d-flex flex-row align-items-center justify-content-center mt-3 footer">
    <div class="btn-group mb-2">
      <button class="btn btn-outline-secondary" type="button" [disabled]="disabled">
        Edytuj cel
      </button>
      <button class="btn btn-outline-danger" type="button" [disabled]="disabled">
        Usuń cel
      </button>
    </div>
  </div>
</div>

<ng-template #lackOfTasks>
  <p class="text-center mb-2">Nie masz jeszcze żadnych zadań przypisanych do tego celu. Dodaj jakieś utworzone zadania
    lub przejdź do zadań, by
    je utworzyć.</p>
</ng-template>