<ng-container [ngSwitch]="task.verification_method">
  <ng-container *ngSwitchCase="TaskRealizationConfirmation.CHECKBOX">
    <ng-container *ngTemplateOutlet="checkbox; context {task}"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="TaskRealizationConfirmation.FILE">
    <ng-container *ngTemplateOutlet="file; context {task}"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="TaskRealizationConfirmation.TEXT">
    <ng-container *ngTemplateOutlet="text; context {task}"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="TaskRealizationConfirmation.NUMBER">
    <ng-container *ngTemplateOutlet="number; context {task}"></ng-container>
  </ng-container>
</ng-container>


<ng-template #checkbox let-task="task">
  <h4>
    {{task.title}}
  </h4>
  <section>
    <h5> Okres: {{ task?.period?.duration | periodToText}} <span class="small">({{task?.period?.currentPeriodStart | date: "YYYY-MM-dd" }} - {{task?.period?.currentPeriodEnd | date: "YYYY-MM-dd"}})</span></h5>
  </section>
    <div class="form-check form-check-inline" *ngFor="let taskCompletion of tasksPerPeriod; index as i; trackBy: trackByIndex">
      <input
        class="form-check-input"
        type="checkbox"
        id={{taskCompletion.index}}
        [ngModel]="taskCompletion.value"
        (click)="toggleCheckboxState($event, task, taskCompletion.index)"
        />
    </div>
</ng-template>

<ng-template #file let-task="task">
  <h4>
    {{task.title}}
  </h4>
</ng-template>

<ng-template #text let-task="task">
  <h4>
    {{task.title}}
  </h4>
</ng-template>

<ng-template #number let-task="task">
  <h4>
    {{task.title}}
  </h4>
</ng-template>


