@import '../../../../style/colors';

:host {
  .accordion-button {
    &:not(.collapsed) {
      box-shadow: none;
    }

    &.collapsed {
      &.success {
        color: $success;
      }

      &.failed {
        color: $danger;
      }
    }
  }

  .progress {
    height: .25rem;

    &-bar {
      background-color: $secondary;
    }
  }
}
