@import '../../../../style/colors';

:host {
  .accordion {
    &-header {
      position: relative;
    }
    .categories {
      position: absolute;
      z-index: 10;
      top: 5px;
      left: 5px;
      width: auto;
      display: flex;
      flex-direction: column;
      &__item {
        margin-bottom: 5px;
        border-radius: 5px;
        width: 10px;
        height: 10px;
      }
    }

    &-button {
      padding-top: 25px;
      padding-left: 25px;
      &:not(.collapsed) {
        box-shadow: none;
      }

      &.collapsed {
        &.success {
          color: $success;
        }

        &.failed {
          color: $danger;
        }
      }
    }
  }

  .progress {
    height: .25rem;

    &-bar {
      background-color: $secondary;
    }
  }
}

