<h1 class="text-primary text-center mb-4">Ustawienia</h1>
<ng-container
  *ngIf="{
    settings: settings$ | async
  } as ctx"
>
  <ng-container *ngIf="ctx.settings?.notificationTime?.hour">
    <dddapp-user-data
      [notificationHour]="ctx.settings!.notificationTime.hour"
      (newNotificationHour)="updateNotificationHour($event)"
    ></dddapp-user-data>
  </ng-container>
  <dddapp-user-profile></dddapp-user-profile>
  <ng-container *ngIf="ctx.settings">
    <dddapp-app-data
      [settings]="ctx.settings"
      (updatedSettings)="updateSettings($event)"
    ></dddapp-app-data>
  </ng-container>
</ng-container>
