<div class="welcome">
  <div class="container welcome__instructionBar mb-4">
    <div class="row">
      <div class="col">
        <div class="d-flex flex-row justify-content-end">
          <div class="d-flex flex-row juftify-content-end">
            <a href="#" class="btn btn-outline-primary">
              Pobierz instrukcję
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container welcome__content">
    <div class="row align-items-center">
      <div class="col-12 col-md-8">
        <section class="mb-5">
          <h1 class="text-center text-primary mb-4">
            Data Driven Development App
          </h1>
          <p class="text-center fs-5 mb-4">
            Jest to innowacyjny system wspierający użytkowników w realizacji celów samorozwojowych.
            Dzięki wykorzystaniu dorobku naukowego psychologii pozwala na przezwyciężenie destrukcyjnej siły
            przeciążenia
            informacyjnego
            i dążenie do samorozwoju w sposób optymalny. Jej architektura pozwala wspierać samorozwój w dosłownie każdej
            możliwej dziedzinie.
            Od nauki języków obcych, czy pływania, po budowę zdrowych nawyków i zmianę zachowania.
          </p>
        </section>
        <section>
          <h2 class="text-primary">
            Dlaczego warto?
          </h2>
          <ul class="fs-6 mb-5 ps-4">
            <li>Możesz <strong>sprawniej osiągać</strong> swoje cele rozwojowe</li>
            <li>Możesz <strong>ograniczyć szum informacyjny</strong> poprzez użycie systemu do realizacji wielu celów
            </li>
            <li>Możesz <strong>korzystać z aplikacji na każdym urządzeniu</strong> za pomocą przeglądarki</li>
            <li>Możesz wykorzystać <strong>metodę małych kroków</strong> i podzielić duże ambitne cele, na mniejsze
              zadania i kamienie
              milowe
            </li>
            <li>Możesz ustawić <strong>przypomnienia mailowe</strong> co do terminu realizacji określonego zadania</li>
            <li>Możesz w jednym miejscu <strong>śledzić swoje postępy</strong> w stawaniu się lepszym człowiekiem</li>
          </ul>
          <div class="d-flex flex-row justify-content-center">
            <button (click)="login()" class="btn btn-primary">Przejdź do systemu</button>
          </div>
        </section>

      </div>
      <div class="d-none d-md-block col-md-4">
        <img class="img-fluid" src="../../../assets/images/logo-circle-blue.png"
          alt="Medytujący mężczyzna na tle symbolu atomu" />
      </div>
    </div>
  </div>
</div>