<ng-container *ngIf="{
  targets: targets$ | async,
  tasks: tasks$ | async,
  categories: categories$ | async,
  isFetching: isFetching$ | async,
  modalState: modalState$ | async
} as ctx">
  <h1 class="text-primary text-center mb-4">Cele</h1>
  <dddapp-no-data [hasContent]="!!ctx.isFetching || !!ctx.targets?.length" ctaText="Dodaj cel"
    [ctaAction]="addTarget.bind(this)">
    <button [disabled]="ctx.isFetching" (click)="addTarget()" class="d-block btn btn-outline-primary mb-4 mx-auto"
      type="button">Dodaj
      nowy</button>
      <dddapp-categories-selector
      [categories]="ctx.categories || []"
    ></dddapp-categories-selector>
      <dddapp-target-list
        [targets]="ctx.targets"
        [tasks]="ctx.tasks"
        [categories]="ctx.categories || []"
        ></dddapp-target-list>
  </dddapp-no-data>
  <dddapp-target-modal *ngIf="ctx.modalState?.isOpen" [target]="ctx.modalState?.target" [categories]="ctx.categories || []"></dddapp-target-modal>
</ng-container>
