@import "../../../style/colors";

:host {
  .btn {
    border: solid 1px;

    &-groupWrapper {
      overflow: auto;
      white-space: nowrap;
      padding-bottom: 5px;
      &::-webkit-scrollbar {
        height: 8px;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
        border: solid 1px var(--primary);
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--secondary);
        outline: 0px solid slategrey;
      }
    }
  }
}
