<div class="btn-groupWrapper" [formGroup]="form">
<div
  class="btn-group"
  role="group"
  aria-label="Basic example"
  formArrayName="buttons"
  *ngIf="buttonForms.controls"
>
    <button
      type="button"
      class="btn btn-sm"
      *ngFor="let btn of buttonForms.controls; index as i"
      [ngStyle]="{
        backgroundColor: btn.value ? buttons[i].color : 'transparent',
        borderColor: buttons[i].color,
        color: btn.value ? buttons[i].text : buttons[i].color
      }"
      (click)="buttonClick(btn.value, i)"
    >
      {{ buttons[i].label }}
    </button>
</div>
</div>

