@import '../../../../style/colors';
@import 'node_modules/bootstrap/scss/bootstrap-utilities';

button {
  z-index: 10;
}

.collapse {
  background-color: $bg-color;
}

.navbar-nav {
  z-index: 1000;
  position: relative;
  background: $bg-color;
  margin-top: 1rem;

  @include media-breakpoint-up('lg') {
    margin-top: 0;
    border-radius: 0 0 0 5px;
  }
}

.nav-item {
  border: solid 1px $primary;
  overflow: hidden;

  &.active {
    .nav-link {
      background: $secondary;
      color: $bg-color;
    }
  }

  &:not(:first-child) {
    border-top: 0;

    &:last-child {
      border-bottom: 0;
    }
  }

  @include media-breakpoint-up('lg') {
    border: 0;

    &:not(:last-child) {
      border-right: solid 1px $primary;
    }

    &:first-child {
      border-left: solid 1px $primary;
      border-radius: 0 0 0 5px;
    }
  }

  .nav-link {
    color: $secondary;

    &:hover {
      color: $primary;
    }
  }
}
