<form [formGroup]="form" *ngIf="{
  tasks: tasks$ | async
} as ctx">
  <div class="mb-3">
    <label for="title" class="form-label required">Tytuł</label>
    <input type="text" aria-describedby="titleHelp" class="form-control" formControlName="title" id="title"
      maxlength="200" required>
    <div id="titleHelp" class="form-text">Czytelny, krótki tytuł jednoznacznie wskazujący istotę celu.</div>
  </div>
  <div class="mb-3">
    <label for="motivation" class="form-label required">Motywacja</label>
    <input type="text" aria-describedby="motivationHelp" class="form-control" formControlName="motivation"
      id="motivation" maxlength="500" required>
    <div id="motivationHelp" class="form-text">Główny powód podjęcia się realizacji celu, powinien być pomocny w
      chwilach zwątpienia w sens dalszej pracy.</div>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label required">Opis</label>
    <textarea aria-describedby="descriptionHelp" rows="3" class="form-control" formControlName="description"
      id="description" maxlength="500" required></textarea>
    <div id="descriptionHelp" class="form-text">Szerszy opis założeń, oczekiwań, wymagań i powodów podjęcia celu.</div>
  </div>
  <div class="mb-3">
    <label for="deadline" class="form-label required">Termin</label>
    <input type="date" aria-describedby="deadlineHelp" [attr.min]="today" class="form-control"
      formControlName="deadline" id="deadline" required>
    <div id="deadlineHelp" class="form-text">Oczekiwana data realizacji celu. Po jej przekroczeniu nie ma możliwości
      realizacji przypisanych zadań, a cel oznaczany jest jako niezrealizowany, jeśli jakiekolwiek zadania nie zostały
      ukończone.</div>
  </div>
  <div class="mb-3">
    <label for="wage" class="form-label required">Waga</label>
    <select required aria-describedby="wageHelp" class="form-select" formControlName="wage" id="wage">
      <ng-container *ngFor="let wage of targetWageNames; let i=index">
        <option [value]="i">{{wage}}</option>
      </ng-container>
    </select>
    <div id="wageHelp" class="form-text">Waga celu pozwala łatwiej podejmować decyzję o przedkładaniu jednych zadań nad
      inne w sytuacjach, gdy niemożliwa jest realizacja wszystkich.</div>
  </div>
  <div class="mb-3">
    <label for="category" class="form-label required">Kategoria</label>
    <select required aria-describedby="categoryHelp" class="form-select" formControlName="category" id="category">
      <option value="0" selected>Ogólna</option>
    </select>
    <div id="categoryHelp" class="form-text">Kategoria służy do grupowania celów i zadań.</div>
  </div>
  <div class="mb-3">
    <label for="reward" class="form-label">Nagroda za terminową realizację:</label>
    <input aria-describedby="rewardHelp" type="text" class="form-control" formControlName="reward" id="reward"
      maxlength="200">
    <div id="rewardHelp" class="form-text">Opcjonalna. Nagroda, która ma pełnić funkcję motywacyjną - powinna być
      niematerialną przyjemnością.</div>
  </div>
  <div class="mb-3">
    <label for="punishment" class="form-label">Kara za brak realizacji w terminie:</label>
    <input aria-describedby="punishmentHelp" type="text" class="form-control" formControlName="punishment"
      id="punishment" maxlength="200">
    <div id="punishmentHelp" class="form-text">Opcjonalna. Kara, która ma pełnić funkcję motywacyjną - powinna być
      niematerialnym ograniczeniem przyjemności.</div>
  </div>
  <section>
    <h6 class="text-primary">Zadania</h6>
    <dddapp-task-list (removeTask)="removeTask($event)" [target]="target"
      [tasks]="target ? getCurrentTasks(TargetsService.getTargetTasks(target, ctx.tasks)) : []"></dddapp-task-list>
  </section>
</form>