<ng-container *ngIf="{
  tasks: tasks$ | async,
  isFetching: isFetching$ | async,
  modalState: modalState$ | async
} as ctx">
  <h1 class="text-primary text-center mb-4">Zadania</h1>
  <dddapp-no-data [hasContent]="!!ctx.isFetching || !!ctx.tasks?.length" ctaText="Dodaj zadanie"
    [ctaAction]="addTask.bind(this)">
    <button [disabled]="ctx.isFetching" (click)="addTask()" class="d-block btn btn-outline-primary mb-4 mx-auto"
      type="button">Dodaj
      nowe</button>
    <div class="accordion accordion-flush" id="taskAccordion">
      <div class="accordion-item" *ngFor="let task of ctx.tasks; index as i; trackBy: trackById">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button fs-5" [class.collapsed]="openElementIndex != i" type="button"
            (click)="openElement(i)">
            {{ task.title }}
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" [class.show]="openElementIndex == i"
          aria-labelledby="flush-headingOne" data-bs-parent="#taskAccordion">
          <div class="accordion-body">
            <dddapp-task-item [task]="task"></dddapp-task-item>
          </div>
        </div>
      </div>
    </div>
  </dddapp-no-data>
  <dddapp-task-modal *ngIf="ctx.modalState?.isOpen" [task]="ctx.modalState?.task"></dddapp-task-modal>

</ng-container>