<div class="modal fade show d-block" [class.modal-open]="assignTaskModalIsOpen" id="exampleModal" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="{
    tasks: tasks$ | async,
    isFetching: isFetching$ | async
  } as ctx">
  <div class="modal-dialog modal-lg modal-fullscreen-sm-down modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{target ? 'Edytuj cel' : 'Utwórz cel'}}
        </h5>
        <button type="button" (click)="closeModal()" class="btn btn-outline-primary" aria-label="Close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body">
        <dddapp-target-form
          [selectedTasksIds]="selectedTasksIds"
          [categories]="categories"
          [tasks]="TargetsService.getTargetTasks(target, ctx.tasks) || []" (removedTaskId)="removeTask($event)"
          (assignTask)="assignTaskModalIsOpen = true" (isFormValid)="isFormValid = $event"
          (updatedTarget)="updatedTarget = $event" [target]="target"></dddapp-target-form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">
          Anuluj
        </button>
        <button type="button" (click)="target ? saveChanges() : addTarget()" class="btn btn-primary"
          [disabled]="!isFormValid">Zapisz</button>
      </div>
      <dddapp-assign-targets-modal [currentTasks]="currentTasks" (closeModal)="assignTaskModalIsOpen = false"
        (assignTasks)="patchTasks($event)" *ngIf="assignTaskModalIsOpen"></dddapp-assign-targets-modal>
    </div>
  </div>
</div>
