<ng-container *ngIf="{
  targets: targets$ | async,
  isFetching: isFetching$ | async
} as ctx">
  <h1 class="text-primary text-center mb-4">Cele</h1>
  <dddapp-no-data [hasContent]="!!ctx.isFetching || !!ctx.targets?.length" ctaText="Dodaj cel" [ctaAction]="addTarget">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item" *ngFor="let target of ctx.targets; index as i; trackBy: trackById">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button fs-5" [class.collapsed]="openElementIndex != i" type="button" [ngClass]="{ 
              'success': validateTarget(target.deadline) === TargetStateClass.SUCCESS,
              'failed': validateTarget(target.deadline) === TargetStateClass.FAILED
            }" (click)="openElement(i)">
            {{ target.title }}
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" [class.show]="openElementIndex == i"
          aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <dddapp-target-item [target]="target"
              [disabled]="validateTarget(target.deadline) === TargetStateClass.SUCCESS || validateTarget(target.deadline) === TargetStateClass.FAILED"></dddapp-target-item>
          </div>
        </div>
      </div>
    </div>
  </dddapp-no-data>

</ng-container>